{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GeoDjango Application Interview</title>
    <link href="{% static 'assets/common/img/favicon.png'%}" rel="icon" type="image/png">
    <link href="favicon.ico" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js'%} for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'%}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js'%}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/ladda/dist/ladda-themeless.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/common/css/source/main.css'%}">
    <script src="{% static 'assets/vendors/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'assets/vendors/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/vendors/ladda/dist/ladda.min.js'%}"></script>
    <script src="{% static 'assets/vendors/autosize/dist/autosize.min.js'%}"></script>
    <script src="{% static 'assets/common/js/common.js'%}"></script>
    <script src="{% static 'assets/common/js/demo.temp.js'%}"></script>
    <script src="{% static 'assets/common/js/leaflet.ajax.js'%}"></script>
</head>
<body class="theme-default">
<nav class="top-menu">
    <div class="menu-icon-container hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
            <div><!-- --></div>
        </div>
    </div>
    <div class="menu">
        {% if user.is_authenticated %}
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="{% static 'assets/common/img/temp/avatars/1.jpg'%}">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="{% url 'profile' %}"><i class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="menu-info-block">
            <div class="right">
                <a href="{% url 'login' %}" class="btn btn-success-outline btn-rounded">
                    Login
                </a>
            </div>
        </div>
        {% endif %}

        <div class="left">
            <span class="avatar">
                <img src="{% static 'assets/common/img/favicon.57x57.png'%}"> <span> GeoDjango Interview Application</span>
            </span>
        </div>
    </div>
</nav>

<section class="page-content">
<div class="page-content-inner">
    <div class="row">
        <div class="col-xl-6">
            <div class="panel panel-with-borders">
                <div class="panel-body">
                    <form name="add" class="form" role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="l0">Customer Name</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="cname" class="form-control" id="l0">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="l0">Location</label>
                            </div>
                            <div class="col-md-9">
                            <select name="regions" class="form-control">
                                {% for region in regions %}
                                <option value="{{ region.geom }}">{{ region.region_nam }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="form-group row">
                             <div class="col-md-9">
                                <button type="submit" class="btn width-150 btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                             </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<div class="main-backdrop"><!-- --></div>
</body>
</html>