{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <link href="{% static 'assets/common/img/favicon.png" rel="icon" type="image/png'%}">
    <link href="favicon.ico" rel="shortcut icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/ladda/dist/ladda-themeless.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/select2/dist/css/select2.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/bootstrap-sweetalert/dist/sweetalert.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/c3/c3.min.css'%}">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/common/css/source/main.css'%}">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="{% static 'assets/vendors/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'assets/vendors/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/vendors/html5-form-validation/dist/jquery.validation.min.js'%}"></script>
    <script src="{% static 'assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js'%}"></script>
    <script src="{% static 'assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js'%}"></script>
    <script src="{% static 'assets/vendors/d3/d3.min.js'%}"></script>
    <script src="{% static 'assets/vendors/c3/c3.min.js'%}"></script>
    <script src="{% static 'assets/vendors/peity/jquery.peity.min.js'%}"></script>
    <!-- v1.1.1 -->
    <script src="{% static 'assets/vendors/gsap/src/minified/TweenMax.min.js'%}"></script>
    <!-- Clean UI Scripts -->
    <script src="{% static 'assets/common/js/common.js'%}"></script>
    <script src="{% static 'assets/common/js/demo.temp.js'%}"></script>
</head>
<body class="theme-default">
<section class="page-content">
<div class="page-content-inner" style="background-image: url({% static 'assets/common/img/temp/login/4.jpg'%})">
    <!-- Login Page -->
    <div class="single-page-block">
        <div class="single-page-block-inner effect-3d-element">
            <div class="blur-placeholder"><!-- --></div>
            <div class="single-page-block-form">
                <h3 class="text-center">
                    <i class="icmn-enter margin-right-10"></i>
                    Login Form
                </h3>
                <br />
                <form id="form-validation" action="{% url 'signin' %}" name="form-validation" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="validation-email"
                               class="form-control"
                               placeholder="Email or Username"
                               name="username"
                               type="text"
                               data-validation="[TEXT]">
                    </div>
                    <div class="form-group">
                        <input id="validation-password"
                               class="form-control password"
                               name="password"
                               type="password" data-validation="[L>=6]"
                               data-validation-message="$ must be at least 6 characters"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a href="javascript: void(0);" class="pull-right">Forgot Password?</a>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="example6" checked>
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary width-150">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Login Page -->
</div>
<!-- Page Scripts -->
<script>
    $(function() {

        // Form Validation
        $('#form-validation').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group',
                    errorListClass: 'form-control-error',
                    errorClass: 'has-danger'
                }
            }
        });

        // Show/Hide Password
        $('.password').password({
            eyeClass: '',
            eyeOpenClass: 'icmn-eye',
            eyeCloseClass: 'icmn-eye-blocked'
        });

        // Add class to body for change layout settings
        $('body').addClass('single-page single-page-inverse');

        // Set Background Image for Form Block
        function setImage() {
            var imgUrl = $('.page-content-inner').css('background-image');

            $('.blur-placeholder').css('background-image', imgUrl);
        };

        function changeImgPositon() {
            var width = $(window).width(),
                    height = $(window).height(),
                    left = - (width - $('.single-page-block-inner').outerWidth()) / 2,
                    top = - (height - $('.single-page-block-inner').outerHeight()) / 2;


            $('.blur-placeholder').css({
                width: width,
                height: height,
                left: left,
                top: top
            });
        };

        setImage();
        changeImgPositon();

        $(window).on('resize', function(){
            changeImgPositon();
        });

        // Mouse Move 3d Effect
        var rotation = function(e){
            var perX = (e.clientX/$(window).width())-0.5;
            var perY = (e.clientY/$(window).height())-0.5;
            TweenMax.to(".effect-3d-element", 0.4, { rotationY:15*perX, rotationX:15*perY,  ease:Linear.easeNone, transformPerspective:1000, transformOrigin:"center" })
        };

        if (!cleanUI.hasTouch) {
            $('body').mousemove(rotation);
        }

    });
</script>
<!-- End Page Scripts -->
</section>
</body>
</html>